/** Instance list **/
instance-list {
    display: flex;
    flex-direction: column;
}

div#target-instances-map {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: scroll;
    height: 20em;
    background-color: #6d8b8d;
    border: 1px solid #6d8b8d;
    padding: .5em .25em .25em;
    margin-top: 0.7em;
}

div#instances {
    display:flex;
    flex-direction: column;
    flex: 4 0;
}
div.instance {
    background-color: #CFE4E0;
    color: #354748;

    flex: 0.5 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1em 1em 1em 1em;
    flex-basis: 8em;

    margin-left: 0.25em;
    margin-right: 0.25em;
    margin-bottom: 0.75em;

    -moz-border-radius: 2px;
    border-radius: 2px;
}
div.instance ul.tags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    flex: 2 0;

    list-style: none;

    margin-bottom: 20px;
}
div.instance ul.tags li {
    display: inline-table;
    margin: 0.2em;
    padding: 0.2em;

    background-color: #6d8b8d;
    color: white;

    -moz-border-radius: 2px;
    border-radius: 2px;
}
div.instance ul.tags li:hover {
    cursor: pointer;
    background-color: orange;
}

button.display-metadata-btn, button.goto-instance {
    color: #354748;
    background-color: #a3bbbd;

    border: none;

    -moz-border-radius: 4px;
    border-radius: 4px;
}
button.display-metadata-btn:hover, button.goto-instance:hover {
    background-color: #8baaad;
}
button.display-metadata-btn {
    padding: 0.3em;
    margin-top: 1em;
}
button.goto-instance {
    flex: 2 0;
}

div.timestamp {
    display: flex;
    flex-direction: row;
    flex: 1 0;
    margin-bottom: 20px;
    height: 30px;
}
span.instance-start, span.instance-stop {
    flex: 1 0;
}

li.participant {
    list-style: none;

    display: flex;
    justify-content: space-between;

    margin: 0.25em;
    background-color: #a3bbbd;
    padding: 0.5em;

    color: #354748;
}

li.participant table {
    width: 84%;
}

button.remove-participant {
    height: 2em;
    width: 2em;

    flex-grow: 1;

    background-color: #ea6b6b;
    border: none;
    color: white;

    -moz-border-radius: 4px;
    border-radius: 4px;
}
button.remove-participant:hover {
    background-color: #c65555;
}


instance-list hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

a.delete-instance {
    color: #ea6b6b;
    text-decoration: none;
}

a.delete-instance:hover {
    text-decoration: underline;
}

.tbl-header {
    width: 30%;
}

div.joke-data {
    background-color: #6d8b8d;
    color: white;
    -moz-border-radius: 1px;
    border-radius: 1px;
    padding: 0.85em;
    margin: 0.2em;
}

button#data-download-btn {
    background-color: #a3bbbd;
    color: #354748;
    border: none;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 100%;
    padding: 0.5em;
}
button#data-download-btn:hover {
    background-color: #8baaad;
}
div#instance-header {
    display: flex;
    margin-top: 2em;
}
h2#instance-header-title {
    flex: 1;
}
