/** Instance list **/
instance-list {
    display: flex;
    margin-top: 2em;
    flex-direction: column;
}

div#target-instances-map {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: flex-start;

    overflow-x: scroll;

    background-color: #b3b3b3;

    border: 3px dashed black;
    padding-left: 1em;
    padding-right: 1em;
}

div#instances {
    display:flex;
    flex-direction: column;
    flex: 4 0;
}
div.instance {
    background-color: white;

    flex: 0.5 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 1px dashed green;
    padding: 1em 1em 1em 1em;
    flex-basis: 30em;

    margin-left: 0.25em;
    margin-right: 0.25em;
}
div.instance ul.tags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    flex: 2 0;

    list-style: none;

    margin-bottom: 20px;
}
div.instance ul.tags li {
    border: 1px dashed orange;
    display: inline-table;
}
div.instance button.goto-instance {
    flex: 1 0;
    height: 100%;
}

div.timestamp {
    display: flex;
    flex-direction: row;
    flex: 1 0;
    margin-bottom: 20px;
    height: 30px;
}
span.instance-start, span.instance-stop, button.goto-instance {
    flex: 1 0;
}

li.participant {
    list-style: none;
    border: 1px dashed blue;

    display: flex;
    justify-content: space-between;
}

li.participant table {
    flex: 3;
}

li.participant button {
    flex: 1;

    height: 3em;
    flex-grow: 0.25;
}

instance-list hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
