<div id="instance-header">
    <h2 id="instance-header-title">Laughter Instances ({{instances.length}})</h2>
    <form method="get" action="file.doc">
           <button id="data-download-btn" type="submit">Download</button>
    </form>
</div>
<div id="target-instances-map">
    <div class="instance" ng-repeat="instance in instances | orderBy:'start'">
        <div class="timestamp">
            <span class="instance-start">Start: {{instance.start | hmsTime}}</span>
            <br>
            <span class="instance-stop">Stop: {{instance.stop | hmsTime}}</span>
            <button class="goto-instance" ng-click="goToTime(instance.start/1000)">Go there</button>
            <span><a class="delete-instance"
                     href="#"
                     onclick="return false;"
                     ng-click="deleteInstance(instance)">Delete</a></span>
        </div>
        <div>
            <h4>Participants ({{instance.participants.length}})</h4>
            <ul class="participants">
                <li class="participant" ng-repeat="participant in instance.participants">
                    <table>
                        <tr>
                            <td class="tbl-header">Name</td>
                            <td>{{participant.name}}</td>
                        </tr>
                        <tr>
                            <td class="tbl-header">Intensity</td>
                            <td>{{participant.intensity}}</td>
                        </tr>
                        <tr>
                            <td class="tbl-header">Laugh descriptors</td>
                            <td>
                                <ul class="tags">
                                    <li ng-repeat="tag in participant.tags">{{tag}}</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                    <button class="remove-participant" ng-click="removeParticipant(participant.id)">Remove</button>
                </li>
            </ul>
        </div>
        <div class="joke-data" ng-if="instance.joke">
            Caused by a joke told by {{instance.speaker}}.
        </div>
        <button class="display-metadata-btn" ng-click="toggleMetadataForm()">Show / Hide Metadata Form</button>
        <!-- Updating metadata for instance -->
        <metadata-form instance="instance"
                       laugh-types="laughTypes"
                       ng-hide="showMetadataForm"></metadata-form>
    </div>
</div>
<!-- Create new instance -->
<add-instance-form></add-instance-form>
