<div id="instance-header">
    <h2 id="instance-header-title">
        Laughter Instances (
        <input type="number" min="1" max="{{instances.length}}"
               ng-model="selectedIndex"
               ng-change="changeTimePerInstanceIndex(selectedIndex)"
               id="currentInstanceInput"></input> 
        of {{instances.length}})
    </h2>
    <form method="get" action="file.doc">
           <button id="data-download-btn" type="submit">Download</button>
    </form>
</div>

<div id="instance-nav-btns">
    <button id="iterInstancePrev" ng-click="decrementIndex()"><</button>
    <button id="iterInstanceNext" ng-click="incrementIndex()">></button>
</div>

<div id="target-instances-map">
    <div class="instance"
        ng-repeat="instance in instances | orderBy:'start'"
        ng-if="showInstance($index)">

        <div class="timestamp">
            <p style="display: none;">{{index}}</p>
            <span class="instance-start"><strong>Start</strong>: {{instance.start | hmsTime}}</span>
            <br>
            <span class="instance-stop"><strong>Stop</strong>: {{instance.stop | hmsTime}}</span>
            <button class="goto-instance" ng-click="goToTime(instance.start/1000, instance.stop/1000)">Go there</button>
            <!--
            <span><a class="delete-instance"
                     href="#"
                     onclick="return false;"
                     ng-click="deleteInstance(instance)">Delete</a></span>
            -->
        </div>
        <div id="participant-list">
            <h4>Participants ({{instance.participants.length}})</h4>
            <ul class="participants">
                <li class="participant" ng-repeat="participant in instance.participants">
                    <table>
                        <tr>
                            <td class="tbl-header"><strong>Name</strong></td>
                            <td>{{participant.name}}</td>
                        </tr>
                        <!--<tr>
                            <td class="tbl-header">Intensity</td>
                            <td>{{participant.intensity}}</td>
                        </tr>-->
                        <tr>
                            <td class="tbl-header"><strong>Tags</strong></td>
                            <td>
                                <ul class="tags">
                                    <li ng-repeat="tag in participant.tags">{{tag}}</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                    <button class="remove-participant" ng-click="removeParticipant(participant.id)">Remove</button>
                </li>
            </ul>
        </div>
        <div class="joke-data" ng-if="instance.joke">
            Caused by a joke told by {{instance.speaker}}.
        </div>
        <!--<button class="display-metadata-btn" ng-click="toggleMetadataForm()">Show / Hide Metadata Form</button>-->
        <!-- Updating metadata for instance -->
        <!--ng-hide="showMetadataForm"-->
        <metadata-form instance="instance" laugh-types="laughTypes"></metadata-form>
    </div>
</div>

<!-- Create new instance -->
<add-instance-form></add-instance-form>
