type-manager {
    display: flex;
}

div#type-manager {
    margin-top: 2em;
    flex: 1;
}

div#type-manager-controls {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    border: 3px dashed black;
    padding-left: 1em;
    padding-right: 1em;
}