/** Metadata Form **/
metadata-form {
    margin-top: 10px;
    background-color: #b7aea0;
    color: #473e31;
    padding: 1em;

    -moz-border-radius: 4px;
    border-radius: 4px;
}
metadata-form form {
    display: flex;
    flex-direction: column;
}
metadata-form form fieldset {
    border: none;
    margin-left:3%;
    margin-bottom: 10px;
}
metadata-form form input#save {
    margin-top: 20px;
    height: 30px;
}

metadata-form input#add-participant, metadata-form input#update-instance {
    color: #FFF;
    background-color: #726a5e;
    border: none;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: .4em;
}
metadata-form input#add-participant:hover, metadata-form input#update-instance:hover {
    background-color: #574e40;
}

.group-data-header {
    margin-top: 2em;
}

metadata-form form fieldset legend {
    float: left;
    margin-right: 1em;
}

/*Taggle metadata tag form*/
ul.taggle_list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

input.taggle_input  {
    width: 38em !important;
}

div.taggle_sizer {
    display: none;

    background-color: rosybrown;
    padding: 0.5em;
    font-size: medium !important;
}

li.taggle {
    width: fit-content;
    background-color: #726a5e;
    color: white;
    padding: 0.35em;
    margin: 0.25em;
}

li.taggle button.close {
    background: none;
    border: none;
    color: lightgray;
    margin-left: 0.5em;
}
