<!-- Metadata form -->
<h4 class="group-data-header">Instance Details</h4>
<form method="post" ng-submit="updateInstanceData()">
    <fieldset id="tag-field">
        <legend>How would you describe the instance?</legend>
        <br>
        <!--<div ng-repeat="type in laughTypes | filter: {considered: true}">
            <input ng-model="newParticipant.tags[type.id]"
                   type="checkbox"
                   name="type{{$index}}"
                   id="type{{$index}}">
            <label for="type{{$index}}">{{type.type}}</label>
        </div>-->
        <div id="instance-tags"></div>
    </fieldset>
    <fieldset id="correct-field">
        <legend>Was the algorithm correct?</legend>
        <input name="correct"
               id="accurate-true"
               type="radio"
               data-ng-value="true"
               ng-checked="instance.algCorrect"
               ng-model="instance.algCorrect">
        <label for="accurate-true">Correct</label>
        <input name="correct"
               id="accurate-false"
               type="radio"
               data-ng-value="false"
               ng-checked="!instance.algCorrect"
               ng-model="instance.algCorrect">
        <label for="accurate-false">Incorrect</label>
    </fieldset>
    <input id="update-instance" type="submit" value="Update">
</form>
