<h1>Manage Laughter Model</h1>

<h2>Use a different model:</h2>
<select ng-repeat="model in models">
    <option value="{{model.id}}">
    ID: {{model.id}} &mdash; {{model.createdBy}} &mdash; {{model.createdDate}}
    </option>
</select>
<input type="button" value="Switch Model"></input>

<h2>Train a new model:</h2>

<p>The below items will be used for retraining. If they are not correct, then you may enter the video by clicking its link and updating the instance.</p>
<br>
<p>Please note that we will record your account email as having created the resulting model: <strong>{{user_email}}</strong></p>

<ul id="training-instances" ng-repeat="sample in retrainSamples">
    <li>
        <span class="pos" ng-if="sample.algCorrect">+</span>
        <span class="neg" ng-if="!sample.algCorrect">-</span>
        <a class="train-instance-link" href="https://137.135.51.94/viewer?bucket={{sample.bucket}}&key={{sample.key}}&b={{sample.startTime}}&e={{sample.stopTime}}&play=true">
            {{sample.bucket}}/{{sample.key}} &mdash; {{sample.startTime}} - {{sample.stopTime}}
        </a>
    </li>
</ul>

<!-- TODO: have this button retrain by calling the service -->
<!-- TODO: have this button prompt user to confrim choice -->
<input type="button" value="Begin Training"></input>
