<div id="type-manager">
   <h2>Laugh Type Manager</h2>
    <div id="type-manager-controls">
        <table id="laugh-type-table">
            <tr>
                <th>Type</th>
                <th>Description</th>
                <th>In Use</th>
            </tr>
            <tr ng-repeat="type in laughTypes">
                <!-- id isn't important to the user -->
                <td style="display: none;">{{type.id}}</td>
                <td>{{type.type}}</td>
                <td>{{type.description}}</td>
                <td>{{type.considered}}</td>
            </tr>
        </table>
        <form id="add-type" ng-submit="postNewType()">
              <!--method="post"-->
              <!--action="http://localhost:16000/types/add">-->
            <fieldset id="type-name-field">
                <label for="type">Name</label>
                <input id="type" type="text" ng-model="typeName">
            </fieldset>
            <fieldset id="type-description-field">
                <label for="description">Description</label>
                <input id="description" type="text" ng-model="typeDesc">
            </fieldset>
            <input type="submit" value="Save new type">
        </form>
    </div>
</div>