type-manager {
    display: flex;
}

div#type-manager {
    margin-top: 2em;
    flex: 1;
}

div#type-manager-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
    color: #473e31;
    background-color: #b7aea0;
}

form#laugh-type-table {
    margin-bottom: 1em;
}
form#laugh-type-table, form#add-type {
    width: 100%;
}

form#laugh-type-table table {
    width: 100%;
}

form#laugh-type-table table tr {
    display: flex;
    flex-direction: row;
}

form#laugh-type-table table tr .typeName {
    flex: 1 0;
}

form#laugh-type-table table tr .typeDesc {
    flex: 2 0;
}

form#laugh-type-table table tr .typeConsidered {
    flex: 0.5 0;
}

form#laugh-type-table table tr td input {
    border: none;
    width: 100%;
    color: #473e31;
    background-color: #b7aea0;
}

form#add-type fieldset {
    border: none;
}

input.type-form-btn {
    margin-top: 1em;
}

type-manager {
    margin-bottom: 2em;
}

input.type-form-btn {
    color: #FFF;
    background-color: #726a5e;
    border: none;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: .4em;
}
input.type-form-btn:hover {
    background-color: #574e40;
}
