<h2>Add Instance</h2>
<p>Sometimes the algorithm is wrong. Please add any missed moments of laughter here.</p>
<form id="add-instance" method="post" ng-submit="addInstance()">
    <fieldset>
        <legend>Start time (in seconds)</legend>
        <!-- TODO: have max be determined by length of video? -->
        <input ng-model="start" name="start-time" type="number">
    </fieldset>
    <fieldset>
        <legend>Stop time (in seconds)</legend>
        <!-- TODO: have max be determined by length of video? -->
        <input ng-model="stop" name="stop-time" type="number">
    </fieldset>
    <fieldset>
        <legend>Was laughter caused by a joke?</legend>
        <input ng-model="joke"
               name="joke"
               id="joke"
               type="checkbox"
               ng-click="disableSpeakerField()"
               ng-checked="instance.joke">
    </fieldset>
    <fieldset id="speaker-field" ng-hide="hideSpeakerField">
        <legend>Who told the joke?</legend>
        <input ng-model="speaker" id="speaker" type="text">
    </fieldset>
    <input type="submit" value="Add instance">
</form>