add-instance-form {
    display: block;
    margin-top: 2em;    
}

add-instance-form form {
    padding: 1em;
    color: #473e31;
    background-color: #b7aea0;
    border: solid 1px #6d8b8d;
    display: flex;

    margin-bottom: 3em;
}

add-instance-form form fieldset {
    border: none;
    margin-bottom: 10px;

    flex: 1 0;
}

input.add-instance-btn {
    color: #FFF;
    background-color: #726a5e;
    border: none;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: .4em;
}
input.add-instance-btn:hover {
    background-color: #574e40;
}
