<header>
	<a href="https://137.135.51.94/home">Go Back</a>
    <button data-ng-click="logout()">Logout</button>
</header>

<h1>List of videos:</h1>
<!--
This does the hacky thing of:
    - Doing an HTTP GET on the specific bucket to get XML of all assets
    - Regex bucket and keys out of XML
    - Iterate through array of results
 -->

<ul>
    <li ng-repeat="date in videoDates">
        {{date}}
    </li>
    <li ng-repeat="key in s3Keys">
        <a href="/viewer?bucket=lfassets&key=video/{{key}}">{{key}}</a>
    </li>
</ul>
<br>
